.venv
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class
venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# Environments
.env
.vscode/
*.swp
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/

# pytest
.pytest_cache/

# Logs
*.log

scraper/__pycache__/
backend/__pycache__/
frontend/node_modules